.row {
  margin: 0 !important;
}

.activemenu{
  background-color: #efefef;
}

* {
  font-family: "Raleway", sans-serif;
}

#registrationdiv {
  margin: 20px auto 0 auto !important;
}

#registrationdiv .title h3,
#tbldiv .title h3 {
  margin: 0 !important;
  padding: 20px 0 30px 0;
}

.table-responsive {
  display: inline-table;
}

#tbldiv {
  width: 100%;
  margin: 35px auto 0 auto !important;
}

.btn-width {
  border-radius: 0 !important;
  width: 160px;
  margin-top: 20px;
}

.btn-modalwidth{
  border-radius: 0 !important;
  width: 80px;
}

#content {
  padding: 10px 40px 30px 40px;
}
.has-error {
  color: red;
}
.has-error input,
.has-error select,
.has-error textarea {
  border: 1px solid red;
  color: red;
}

#profile-border {
  border-bottom: 1px solid #d8d7e4;
}

.table-buttonicon{
  font-size: 20px;   
}

.table-buttonicon span{
  cursor: pointer;
}

li {
  display: block;
  transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  padding-left: 57px;
}

ul li ul li {
  clear: both;
  width: 100%;
}
.dropdown {
  margin-top: 0;
}
.dropdown > li {
  padding-top: 4px;
  padding-bottom: 4px;
}
.dropdown > li > a {
  text-decoration: none;
  display: block;
}

@media only screen and (max-width: 460px) {
  #tbldiv {
    width: auto;
    margin: 35px auto 0 auto !important;
  }

  .table-responsive {
    display: block;
  }
  #sidebarCollapse {
    margin-bottom: 0 !important;
  }
}

th {
  cursor: pointer;
}

.list-title {
  display: inline-block;
}

.btn-add {
  float: right;
}
